// Place all the styles related to the Airplanes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.airplane-card {
  width: 350px;
  margin: 32px;
  padding: 16px;
  border: 1px solid black;
  text-align: center;

  .plane-image {
    height: 200px;
    margin: 0 auto;
  }
}

.hangar {
  text-align: center;
}

.plane-index {
  display: flex
}
